.top-info-row {
  margin: 0;
  padding: 15px 25px;
}
.expense-friends-row {
  margin: 0;
  padding: 0 25px;
}

.card-title-bg-yellow {
  background-color: #ffdd57;
  padding: 25px;
}

.icon-column {
  font-size: 3rem;
  color: gray;
  text-align: center;
}
