@import "~bulma";
@import "~bulma-extensions/bulma-switch/src/sass/index";
@import "~bulma-extensions/bulma-tooltip/src/sass/index";
@import "~bulma-extensions/bulma-calendar/src/sass/index";
@import "~@wizishop/ng-wizi-bulma/ng-wizi-bulma";

$primary: #5100af;

.font-weight-bold {
  font-weight: bold;
}
.main-checkbox {
  height: 1rem;
  width: 1rem;
}
