<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Slice</strong>
    </a>

    <div class="navbar-burger burger" data-target="navbarBasicExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> Home </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <p
          class="text-white m-0 font-weight-bold"
          *ngIf="authService.userLoggedIn"
        >
          {{ authService.name }}
        </p>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a
            routerLink="/signup"
            *ngIf="!authService.userLoggedIn"
            class="button is-primary"
          >
            <strong>Sign up</strong>
          </a>
          <a
            routerLink="/login"
            *ngIf="!authService.userLoggedIn"
            class="button is-light"
          >
            Log in
          </a>

          <a
            (click)="logout()"
            *ngIf="authService.userLoggedIn"
            class="button is-primary"
          >
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
