<form [formGroup]="addExpenseForm" (ngSubmit)="addExpense()">
  <div class="field">
    <label class="label">Title</label>
    <div class="control has-icons-left has-icons-right">
      <input
        [ngClass]="{
          'is-danger':
            addExpenseForm.controls.name.dirty &&
            addExpenseForm.controls.name.errors
        }"
        name="name"
        id="name"
        class="input"
        type="text"
        placeholder="What was this spend for?"
        formControlName="name"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-heading"></i>
      </span>
      <p
        *ngIf="
          addExpenseForm.controls.name.dirty &&
          addExpenseForm.controls.name.errors?.required
        "
        class="help is-danger"
      >
        Title is required.
      </p>
    </div>
  </div>
  <div class="field">
    <label class="label">Amount</label>
    <div class="control has-icons-left has-icons-right">
      <input
        [ngClass]="{
          'is-danger':
            addExpenseForm.controls.amount.dirty &&
            addExpenseForm.controls.amount.errors
        }"
        (input)="calculateSplits()"
        name="amount"
        id="amount"
        class="input"
        type="number"
        min="1"
        placeholder="Enter expense amount"
        formControlName="amount"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-rupee-sign"></i>
      </span>
      <p
        *ngIf="
          addExpenseForm.controls.amount.dirty &&
          addExpenseForm.controls.amount.errors?.required
        "
        class="help is-danger"
      >
        Amount is required.
      </p>
      <p
        *ngIf="
          addExpenseForm.controls.amount.dirty &&
          addExpenseForm.controls.amount.errors?.min
        "
        class="help is-danger"
      >
        Amount should be greater than ₹1.00.
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <div class="select">
        <select formControlName="category">
          <ng-container *ngFor="let category of categories"
            ><option [value]="category.name">
              <i class="fa fa-{{ category.icon }}"></i>
              {{ category.name }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <label class="label">Members</label>
  <div class="field is-grouped is-grouped-multiline">
    <div *ngFor="let member of members; let i = index" class="control">
      <div class="tags has-addons">
        <span class="tag is-link is-medium"
          >{{ member.name }}
          <button
            (click)="removeMember(member)"
            *ngIf="member.id != authService.userId"
            class="delete is-small"
          ></button>
        </span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span
          *ngIf="members.length != friends.length + 1"
          (click)="addMember()"
          class="tag button is-success is-medium"
          >Add
        </span>
      </div>
    </div>
  </div>
  <label class="label">Payers</label>
  <div class="field is-grouped is-grouped-multiline">
    <ng-container *ngFor="let payer of payers; let i = index">
      <div *ngIf="payer.isPayer" class="control">
        <div class="tags has-addons">
          <span class="tag is-link is-medium"
            >{{ payer.name }}
            {{
              (payer.percentage / 100) * addExpenseForm.get("amount").value
                | currency: "INR"
            }}</span
          >
        </div>
      </div>
    </ng-container>
    <div class="control">
      <div class="tags has-addons">
        <span (click)="editPayers()" class="tag button is-success is-medium"
          >Edit Payers
        </span>
      </div>
    </div>
  </div>
  <label class="label">Split</label>
  <div class="field is-grouped is-grouped-multiline">
    <ng-container *ngFor="let split of splits; let i = index">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-link is-medium"
            >{{ split.name }}
            {{
              (split.percentage / 100) * addExpenseForm.get("amount").value
                | currency: "INR"
            }}</span
          >
        </div>
      </div>
    </ng-container>
    <div class="control">
      <div class="tags has-addons">
        <span (click)="editSplit()" class="tag button is-success is-medium"
          >Edit Split
        </span>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Expense Date</label>
    <div class="control">
      <nwb-date-picker
        [options]="{
          displayMode: 'dialog',
          showClearButton: false
        }"
        #datePicker1
      >
        <input
          [nwbDatepickerStart]="datePicker1"
          formControlName="expenseDate"
          type="text"
          nwbDateType="date"
        />
      </nwb-date-picker>
    </div>
  </div>

  <div class="field is-grouped has-text-centered">
    <div class="control">
      <button
        [ngClass]="{ 'is-loading': loading }"
        class="button is-link is-medium"
      >
        Add an Expense
      </button>
    </div>
  </div>
</form>
